@import url(https://db.onlinewebfonts.com/c/d602bf6498a65d9595ca30c04eadda32?family=Tanseek+Modern+Pro+Arabic+Book);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@font-face {
    font-family: "Tanseek Modern Pro Arabic Book";
    src: url("https://db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.eot");
    src: url("https://db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d602bf6498a65d9595ca30c04eadda32.svg#Tanseek Modern Pro Arabic Book")format("svg");
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono', monospace;
}

#index{
    display: grid;
    place-items: center;
}

.predislovie{
    padding-left: 15px;
    color: white;
}

.paragraph{
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 15px;
    margin: 0;
}

h1.paragraph{
    padding-top: 50px;
    padding-bottom: 20px;
}

h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.blank_space{
    width: 100%;
    height: 375vh;
}

.links{
    text-decoration: none;
    background-color: #fff;
    margin-top: 20px;
}